<!DOCTYPE html>
<html>
  <head>
    <title>XenonStack</title>
    <link rel="stylesheet" href="css/xenonstack.min.css" async>
  </head>
  <body>
    <div class="wrapper">
      <div id="top-bar" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="navbar-nav pull-right">
                <li><a href="#downloads">downloads</a></li>
                <li><a href="#discuss">docs</a></li>
                <li><a href="#discuss">discuss</a></li>
                <li><a href="#some">support</a></li>
                <li><a href="#discuss">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="header" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-4"><img src="images/header-logo.png" class="header-logo"></div>
            <div class="col-md-8">
              <ul class="navbar-nav pull-right">
                <li><a href="products.html">Products</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#learn">Learn</a></li>
                <li><a href="#use-cases">Use Cases</a></li>
                <li><a href="#about">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="products-slider" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="slider">
                <ul>
                  <li>
                    <div class="slide">
                      <div class="row">
                        <div class="col-md-4">
                          <h2>AlphaStack</h2>
                          <p>A product made with love. BaaS ( BackEnd As A Service )</p>
                        </div>
                        <div class="col-md-4">
                          <h2>MonStack</h2>
                          <p>Monitoring Stack. Stack for log processing.</p>
                        </div>
                        <div class="col-md-4">
                          <h2>AkiraStack</h2>
                          <p>DevOps As A Service. Made with love by XGurSin.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="slide">
                      <div class="row">
                        <div style="text-align: right;" class="col-md-7">
                          <h1>Join the Team</h1>
                          <p>We are hiring.</p>
                        </div>
                        <div class="col-md-5">
                          <h4>Join Now</h4>
                          <p>Submit your resume.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="stack" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>A Stack Innovator</h1>
              <p>Some text here. Another text will be here. And more comes here if available. Some text here. Another text will be here. And more comes here if available. Some text here. Another text will be here. And more comes here.</p>
            </div>
          </div>
          <div class="row stack">
            <div class="col-md-6">
              <div class="stack-full"><span>Some</span></div>
              <div class="stack-one-fourth first"><span>Some Other</span></div>
              <div class="stack-one-fourth"><span>Some Other text</span></div>
            </div>
            <div class="col-md-6">
              <div class="stack-half"><span>Some extend</span></div>
              <div class="stack-full"><span>Some Main Text</span></div>
            </div>
          </div>
        </div>
      </div>
      <div id="verticals" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="vertical col-md-3">
              <h3>Get Started</h3>
              <p>Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. </p><a href="#logman" class="button">Analytics Stack</a>
            </div>
            <div class="vertical col-md-3">
              <h3>Get Started</h3>
              <p>Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. </p><a href="#logman" class="button">Analytics Stack</a>
            </div>
            <div class="vertical col-md-3">
              <h3>Get Started</h3>
              <p>Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. </p><a href="#logman" class="button">Analytics Stack</a>
            </div>
            <div class="vertical col-md-3">
              <h3>Get Started</h3>
              <p>Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. </p><a href="#logman" class="button">Analytics Stack</a>
            </div>
          </div>
        </div>
      </div>
      <div id="technologies" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-2"><img src="images/technologies/hadoop.png"></div>
            <div class="col-md-2"><img src="images/technologies/hadoop.png"></div>
            <div class="col-md-2"><img src="images/technologies/hadoop.png"></div>
            <div class="col-md-2"><img src="images/technologies/hadoop.png"></div>
            <div class="col-md-2"><img src="images/technologies/hadoop.png"></div>
            <div class="col-md-2"><img src="images/technologies/hadoop.png"></div>
          </div>
        </div>
      </div>
      <div id="company-summary" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <h2>Who We Are</h2>
              <p>Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. </p>
            </div>
            <div class="col-md-2 button-area"><a href="#about" class="button">Learn More</a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="training">
              <h2>Training</h2>
              <p>XenonStack trainings are taught by core developers and designed to give you the know-how needed to get up and running while learning our open source projects inside and out.</p>
              <div class="row">
                <div class="col-md-6 split-section">
                  <h3>Core Big Data Developer</h3>
                  <ul>
                    <li><span class="text">CHANDIGARH, IN</span><span class="link"><a href="#training/icx">January 25, 2017</a></span></li>
                    <li><span class="text">SAN FRANCISCO, US</span><span class="link"><a href="#training/sfa">January 28, 2017</a></span></li>
                    <li><span class="text">BANGALORE, IN</span><span class="link"><a href="#training/blr">January 30, 2017</a></span></li>
                    <li><span class="text">BANGALORE, IN</span><span class="link"><a href="#training/blr">January 30, 2017</a></span></li>
                  </ul>
                </div>
                <div class="col-md-6 split-section">
                  <h3>Hands-On Workshop with Xenon Data Platforms, AlphaStack and AnalyticsStack</h3>
                  <ul>
                    <li><span class="text">CHANDIGARH, IN</span><span class="link"><a href="#training/icx">January 25, 2017</a></span></li>
                    <li><span class="text">SAN FRANCISCO, US</span><span class="link"><a href="#training/sfa">January 28, 2017</a></span></li>
                    <li><span class="text">BANGALORE, IN</span><span class="link"><a href="#training/blr">January 30, 2017</a></span></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 button-area"><a href="#learn" class="button">View All</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="services-products-summary">
              <div class="summary-section">
                <h2>Services</h2>
                <p>Some text here in the summary. We can explain in detail later in other page. Some text here in the summary. We can explain in detail later in other page.</p><a href="#services" class="button">Learn More</a>
              </div>
              <div class="summary-section">
                <h2>Products</h2>
                <p>Some text here in the summary. We can explain in detail later in other page. Some text here in the summary. We can explain in detail later in other page.</p><a href="#products" class="button">Learn More</a>
              </div>
              <div class="summary-section">
                <h2>Learn</h2>
                <p>Some text here in the summary. We can explain in detail later in other page. Some text here in the summary. We can explain in detail later in other page.</p><a href="#learn" class="button">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="subscribe">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Subscribe to our newsletter</h3>
              <p>Get the latest udpdates and free access to product beta version.</p>
            </div>
            <div class="col-md-6">
              <form id="subscribe-newsletter-form" method="POST" action="#">
                <input type="email" name="emailAddress">
                <button name="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/xenonstack.min.js"></script>
  </body>
</html>
