@C1: rgba(0,0,0,0.75);
@C2: #DDDDDD;
@C3: #FFFFFF;
@C4: #EEEEEE;
@C5: #000000;

@CP1: #EF4426;
@CP2: #4C95D1;
@CP3: #FDBA1D;
@CP4: #7ABE43;

@CBB: rgba(76, 149, 209, 0);
@CBBH: rgba(76, 149, 209, 0.15);

@C6: linear-gradient(45deg, @CP2, @CP4);
@C7: #666666;

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: "Work Sans", "Helvetica Nueu", "Helvetica", sans-serif;
}

.wrapper{
  float: left;
  width: 100%;
}

ul.navbar-nav{
  list-style: none;
  float: left;

  li{
    float: left;
    a{
      float: left;
      text-decoration: none;
    }
  }
}

#top-bar{
  background: @C1;
  color: @C2;
  font-weight: 300;

  ul.navbar-nav{
    li{
      a{
        line-height: 25px;
        font-size: 13px;
        color: @C2;
        margin: 8px 20px;
        transition: color 0.4s ease-in-out;

        &:hover{
          color: @C3;
        }
      }
    }
  }

}

.colored-border{
  float: left;
  width: 100%;
  .sec{
    float: left;
    width: 25%;
  }
  .c1{
    border-bottom: 5px @CP1 solid;
  }
  .c2{
    border-bottom: 5px @CP2 solid;
  }
  .c3{
    border-bottom: 5px @CP3 solid;
  }
  .c4{
    border-bottom: 5px @CP4 solid;
  }
}

#header{
  background: @C3;
  border-bottom: 1px @C2 solid;

  img.header-logo{
    height: 80px;
  }
  ul.navbar-nav{
    li{
      a{
        line-height: 80px;
        font-size: 15px;
        margin: 0px 10px;
        color: @C1;
        transition: color 0.5s ease-in-out;

        &:hover{
          color: @C5;
        }
      }
    }
  }
}

#cover{
  background: @C6;
  color: @C3;
  font-weight: 100;

  h1, h2, h3, h4 {
    font-weight: 300;
  }

  .slide{
    padding: 50px 0px;
    min-height: 300px;
  }
}

#verticals{
  padding: 50px 0px;

  .vertical{
    text-align: center;

    h3{
      font-size: 25px;
      font-weight: 400;
      color: @CP2;
      margin: 5px 0px;
    }
    p{
      font-weight: 300;
      margin: 10px 0px;
      font-size: 17px;
      line-height: 25px;
      color: @C7;
      margin-bottom: 30px;
    }
    a.button{
      text-decoration: none;
      background: @CBB;
      border: 2px @CP2 solid;
      color: @CP2;
      padding: 7px 13px;
      border-radius: 5px;
      font-weight: 400;

      &:hover{
        background: @CBBH;
      }
    }
  }
}
