* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Work Sans", "Helvetica Nueu", "Helvetica", sans-serif;
}
.wrapper {
  float: left;
  width: 100%;
}
ul.navbar-nav {
  list-style: none;
  float: left;
}
ul.navbar-nav li {
  float: left;
}
ul.navbar-nav li a {
  float: left;
  text-decoration: none;
}
#top-bar {
  background: rgba(0, 0, 0, 0.75);
  color: #DDDDDD;
  font-weight: 300;
}
#top-bar ul.navbar-nav li a {
  line-height: 25px;
  font-size: 13px;
  color: #DDDDDD;
  margin: 8px 20px;
  transition: color 0.4s ease-in-out;
}
#top-bar ul.navbar-nav li a:hover {
  color: #FFFFFF;
}
.colored-border {
  float: left;
  width: 100%;
}
.colored-border .sec {
  float: left;
  width: 25%;
}
.colored-border .c1 {
  border-bottom: 5px #EF4426 solid;
}
.colored-border .c2 {
  border-bottom: 5px #4C95D1 solid;
}
.colored-border .c3 {
  border-bottom: 5px #FDBA1D solid;
}
.colored-border .c4 {
  border-bottom: 5px #7ABE43 solid;
}
#header {
  background: #FFFFFF;
  border-bottom: 1px #DDDDDD solid;
}
#header img.header-logo {
  height: 80px;
}
#header ul.navbar-nav li a {
  line-height: 80px;
  font-size: 15px;
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.5s ease-in-out;
}
#header ul.navbar-nav li a:hover {
  color: #000000;
}
