* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Work Sans", "Helvetica Nueu", "Helvetica", sans-serif;
}
.wrapper {
  float: left;
  width: 100%;
}
ul.navbar-nav {
  list-style: none;
  float: left;
}
ul.navbar-nav li {
  float: left;
}
ul.navbar-nav li a {
  float: left;
  text-decoration: none;
}
#top-bar {
  background: rgba(0, 0, 0, 0.75);
  color: #DDDDDD;
  font-weight: 300;
}
#top-bar ul.navbar-nav li a {
  line-height: 25px;
  font-size: 13px;
  color: #DDDDDD;
  margin: 8px 20px;
  transition: color 0.4s ease-in-out;
}
#top-bar ul.navbar-nav li a:hover {
  color: #FFFFFF;
}
.colored-border {
  float: left;
  width: 100%;
}
.colored-border .sec {
  float: left;
  width: 25%;
}
.colored-border .c1 {
  border-bottom: 5px #EF4426 solid;
}
.colored-border .c2 {
  border-bottom: 5px #4C95D1 solid;
}
.colored-border .c3 {
  border-bottom: 5px #FDBA1D solid;
}
.colored-border .c4 {
  border-bottom: 5px #7ABE43 solid;
}
#header {
  background: #FFFFFF;
  border-bottom: 1px #DDDDDD solid;
}
#header img.header-logo {
  height: 80px;
}
#header ul.navbar-nav li a {
  line-height: 80px;
  font-size: 15px;
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.5s ease-in-out;
}
#header ul.navbar-nav li a:hover {
  color: #000000;
}
#stack {
  padding: 30px 0px;
}
#stack h1 {
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px;
  color: #000000;
}
#stack p {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #666666;
  font-weight: 200;
  margin: 10px 0px;
}
#stack .stack {
  margin: 30px 0px;
}
#stack .stack .stack-full {
  float: left;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
}
#stack .stack .stack-half {
  float: left;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
}
#stack .stack .stack-one-fourth {
  float: left;
  width: 45%;
  height: 200px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
}
#stack .stack .stack-one-fourth.first {
  margin-right: 10%;
}
#products-slider {
  background: linear-gradient(45deg, #4C95D1, #7ABE43);
  color: #FFFFFF;
  font-weight: 100;
}
#products-slider h1,
#products-slider h2,
#products-slider h3,
#products-slider h4 {
  font-weight: 300;
}
#products-slider .slide {
  padding: 50px 0px;
  min-height: 300px;
}
#verticals {
  padding: 50px 0px;
}
#verticals .vertical {
  text-align: center;
}
#verticals .vertical h3 {
  font-size: 25px;
  font-weight: 400;
  color: #4C95D1;
  margin: 5px 0px;
}
#verticals .vertical p {
  font-weight: 300;
  margin: 10px 0px;
  font-size: 17px;
  line-height: 25px;
  color: #666666;
  margin-bottom: 30px;
}
#verticals .vertical a.button {
  text-decoration: none;
  background: rgba(76, 149, 209, 0);
  border: 2px #4C95D1 solid;
  color: #4C95D1;
  padding: 7px 13px;
  border-radius: 5px;
  font-weight: 400;
}
#verticals .vertical a.button:hover {
  background: rgba(76, 149, 209, 0.15);
}
#technologies {
  border-top: 1px #EEEEEE solid;
  border-bottom: 1px #EEEEEE solid;
  padding: 50px 0px;
}
#technologies img {
  float: left;
  width: 100%;
}
