doctype html
html
    head
        title XenonStack
        link(rel='stylesheet', href='css/xenonstack.min.css', async)
    body
      .wrapper
        #top-bar.wrapper
          .container
            .row
              .col-md-12
                ul.navbar-nav.pull-right
                  li
                    a(href='#downloads') downloads
                  li
                    a(href='#discuss') docs
                  li
                    a(href='#discuss') discuss
                  li
                    a(href='#some') support
                  li
                    a(href='#discuss') contact
        
        #header.wrapper
          .container
            .row
              .col-md-4
                img.header-logo(src='images/header-logo.png')
              .col-md-8
                ul.navbar-nav.pull-right
                  li
                    a(href='#products') Products
                  li
                    a(href='#services') Services
                  li
                    a(href='#blog') Blog
                  li
                    a(href='#community') Community
                  li
                    a(href='#learn') Learn
                  li
                    a(href='#use-cases') Use Cases
                  li
                    a(href='#about') About
                            
        #stack.wrapper
          .container
            .row
              .col-md-12
                h1 A Stack Innovator
                p Some text here. Another text will be here. And more comes here if available. Some text here. Another text will be here. And more comes here if available. Some text here. Another text will be here. And more comes here.
            .row.stack
              .col-md-6
                .stack-full
                  span Some
                .stack-one-fourth.first
                  span Some Other
                .stack-one-fourth
                  span Some Other text
              .col-md-6
                .stack-half
                  span Some extend
                .stack-full
                  span Some Main Text
                  
          
        #products-slider.wrapper
          .container
            .row
              .col-md-12
                .slider
                  ul
                    li
                      .slide
                        .row
                          .col-md-4
                            h2 AlphaStack
                            p A product made with love. BaaS ( BackEnd As A Service )
                          .col-md-4
                            h2 MonStack
                            p Monitoring Stack. Stack for log processing.
                          .col-md-4
                            h2 AkiraStack
                            p DevOps As A Service. Made with love by XGurSin.
                    li
                      .slide
                        .row
                          .col-md-7(style='text-align: right;')
                            h1 Join the Team
                            p We are hiring.
                          .col-md-5
                            h4 Join Now
                            p Submit your resume.
        #verticals.wrapper
          .container
            .row
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
        
        
                    
      script(type='text/javascript', src='js/xenonstack.min.js')
