doctype html
html
    head
        title XenonStack
        link(rel='stylesheet', href='css/xenonstack.min.css', async)
    body
      
      script(type='text/javascript', src='js/xenonstack.min.js')
