doctype html
html
    head
        title XenonStack
        link(rel='stylesheet', href='css/xenonstack.min.css', async)
    body
      .wrapper
        #top-bar.wrapper
          .container
            .row
              .col-md-12
                ul.navbar-nav.pull-right
                  li
                    a(href='#downloads') downloads
                  li
                    a(href='#discuss') docs
                  li
                    a(href='#discuss') discuss
                  li
                    a(href='#some') support
                  li
                    a(href='#discuss') contact
        
        #header.wrapper
          .container
            .row
              .col-md-4
                img.header-logo(src='images/header-logo.png')
              .col-md-8
                ul.navbar-nav.pull-right
                  li
                    a(href='#products') Products
                  li
                    a(href='#services') Services
                  li
                    a(href='#blog') Blog
                  li
                    a(href='#community') Community
                  li
                    a(href='#learn') Learn
                  li
                    a(href='#use-cases') Use Cases
                  li
                    a(href='#about') About
                  
          
        #products-slider.wrapper
          .container
            .row
              .col-md-12
                .slider
                  ul
                    li
                      .slide
                        .row
                          .col-md-4
                            h2 AlphaStack
                            p A product made with love. BaaS ( BackEnd As A Service )
                          .col-md-4
                            h2 MonStack
                            p Monitoring Stack. Stack for log processing.
                          .col-md-4
                            h2 AkiraStack
                            p DevOps As A Service. Made with love by XGurSin.
                    li
                      .slide
                        .row
                          .col-md-7(style='text-align: right;')
                            h1 Join the Team
                            p We are hiring.
                          .col-md-5
                            h4 Join Now
                            p Submit your resume.
                                    
        #stack.wrapper
          .container
            .row
              .col-md-12
                h1 A Stack Innovator
                p Some text here. Another text will be here. And more comes here if available. Some text here. Another text will be here. And more comes here if available. Some text here. Another text will be here. And more comes here.
            .row.stack
              .col-md-6
                .stack-full
                  span Some
                .stack-one-fourth.first
                  span Some Other
                .stack-one-fourth
                  span Some Other text
              .col-md-6
                .stack-half
                  span Some extend
                .stack-full
                  span Some Main Text
        
        #verticals.wrapper
          .container
            .row
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
              .vertical.col-md-3
                h3 Get Started
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
                a.button(href='#logman') Analytics Stack
        
        #technologies.wrapper
          .container
            .row
              .col-md-2
                img(src='images/technologies/hadoop.png')
              .col-md-2
                img(src='images/technologies/hadoop.png')
              .col-md-2
                img(src='images/technologies/hadoop.png')
              .col-md-2
                img(src='images/technologies/hadoop.png')
              .col-md-2
                img(src='images/technologies/hadoop.png')
              .col-md-2
                img(src='images/technologies/hadoop.png')
        
        #company-summary.wrapper
          .container
            .row
              .col-md-10
                h2 Who We Are
                p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. 
              .col-md-2.button-area
                a.button(href='#about') Learn More
        
        .container
          .row
            .col-md-6
              #training
                h2 Training
                p XenonStack trainings are taught by core developers and designed to give you the know-how needed to get up and running while learning our open source projects inside and out.
                .row
                  .col-md-6.split-section
                    h3 Core Big Data Developer
                    ul
                      li
                        span.text CHANDIGARH, IN
                        span.link
                          a(href='#training/icx') January 25, 2017
                      li
                        span.text SAN FRANCISCO, US
                        span.link
                          a(href='#training/sfa') January 28, 2017
                      li
                        span.text BANGALORE, IN
                        span.link
                          a(href='#training/blr') January 30, 2017
                      li
                        span.text BANGALORE, IN
                        span.link
                          a(href='#training/blr') January 30, 2017
                  .col-md-6.split-section
                    h3 Hands-On Workshop with Xenon Data Platforms, AlphaStack and AnalyticsStack
                    ul
                      li
                        span.text CHANDIGARH, IN
                        span.link
                          a(href='#training/icx') January 25, 2017
                      li
                        span.text SAN FRANCISCO, US
                        span.link
                          a(href='#training/sfa') January 28, 2017
                      li
                        span.text BANGALORE, IN
                        span.link
                          a(href='#training/blr') January 30, 2017
                .row
                  .col-md-12.button-area
                    a.button(href='#learn') View All
                    
            .col-md-6
              #services-products-summary
                .summary-section
                  h2 Services
                  p Some text here in the summary. We can explain in detail later in other page. Some text here in the summary. We can explain in detail later in other page.
                  a.button(href='#services') Learn More
                .summary-section
                  h2 Products
                  p Some text here in the summary. We can explain in detail later in other page. Some text here in the summary. We can explain in detail later in other page.
                  a.button(href='#products') Learn More
                .summary-section
                  h2 Learn
                  p Some text here in the summary. We can explain in detail later in other page. Some text here in the summary. We can explain in detail later in other page.
                  a.button(href='#learn') Learn More
                    
        #subscribe
          .container
            .row
              .col-md-6
                h3 Subscribe to our newsletter
                p Get the latest udpdates and free access to product beta version.
              .col-md-6
                form(id="subscribe-newsletter-form", method="POST", action="#")
                  input(type='email', name='emailAddress')
                  button(name='submit') Submit
          
      script(type='text/javascript', src='js/xenonstack.min.js')
