doctype html
html
    head
        title XenonStack
        link(rel='stylesheet', href='css/xenonstack.min.css', async)
    body
      .wrapper
        #top-bar.wrapper
          .container
            .row
              .col-md-12
                ul.navbar-nav.pull-right
                  li
                    a(href='#downloads') downloads
                  li
                    a(href='#discuss') docs
                  li
                    a(href='#discuss') discuss
                  li
                    a(href='#some') support
                  li
                    a(href='#discuss') contact
        
        #header.wrapper
          .container
            .row
              .col-md-4
                img.header-logo(src='images/header-logo.png')
              .col-md-8
                ul.navbar-nav.pull-right
                  li
                    a(href='#products') Products
                  li
                    a(href='#services') Services
                  li
                    a(href='#blog') Blog
                  li
                    a(href='#community') Community
                  li
                    a(href='#learn') Learn
                  li
                    a(href='#use-cases') Use Cases
                  li
                    a(href='#about') About
        #cover.wrapper
          .container
            .row
              .col-md-12
                .slider
                  ul
                    li some
                    li Some Other
                    
      script(type='text/javascript', src='js/xenonstack.min.js')
