doctype html
html
    head
        title XenonStack
        link(rel='stylesheet', href='css/xenonstack.min.css', async)
    body
      .wrapper
        #top-bar.wrapper
          .container
            .row
              .col-md-12
                ul.navbar-nav.pull-right
                  li
                    a(href='#downloads') downloads
                  li
                    a(href='#discuss') docs
                  li
                    a(href='#discuss') discuss
                  li
                    a(href='#some') support
                  li
                    a(href='#discuss') contact
                    
      script(type='text/javascript', src='js/xenonstack.min.js')
