doctype html
html
    head
        title XenonStack
        link(rel='stylesheet', href='css/xenonstack.min.css', async)
    body
      .wrapper
        #top-bar.wrapper
          .container
            .row
              .col-md-12
                ul.navbar-nav.pull-right
                  li
                    a(href='#downloads') downloads
                  li
                    a(href='#discuss') docs
                  li
                    a(href='#discuss') discuss
                  li
                    a(href='#some') support
                  li
                    a(href='#discuss') contact
        
        #header.wrapper
          .container
            .row
              .col-md-4
                img.header-logo(src='images/header-logo.png')
              .col-md-8
                ul.navbar-nav.pull-right
                  li
                    a(href='#products') Products
                  li
                    a(href='#services') Services
                  li
                    a(href='#blog') Blog
                  li
                    a(href='#community') Community
                  li
                    a(href='#learn') Learn
                  li
                    a(href='#use-cases') Use Cases
                  li
                    a(href='#about') About
                  
          
        #products-cover.wrapper
          .container
            .row
              .col-md-6.col-md-offset-3.text-center
                h1 Explore the XenonStack Portfolio
                p Some softwares for business. HealthCare and Farming are primary research fields. Any text here. Somebody add something here.
        
        #products-list.wrapper
          .product
            .container
              .row.heading
                .col-md-8.col-md-offset-2
                  h2 Backend As A Service
                  p We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.
              .row.summary
                .col-md-6
                  img.screenshot(src='images/product-screenshot.png')
                .col-md-6
                  h2 AlphaStack
                  p We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.
                  a(href='#AlphaStack') Learn more about backend as a service &gt;
          .product.alt
            .container
              .row.heading
                .col-md-8.col-md-offset-2
                  h2 Backend As A Service
                  p We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.
              .row.summary
                .col-md-6
                  h2 AlphaStack
                  p We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.
                  a(href='#AlphaStack') Learn more about backend as a service &gt;
                .col-md-6
                  img.screenshot(src='images/product-screenshot.png')
          .product
            .container
              .row.heading
                .col-md-8.col-md-offset-2
                  h2 Backend As A Service
                  p We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.
              .row.summary
                .col-md-6
                  img.screenshot(src='images/product-screenshot.png')
                .col-md-6
                  h2 AlphaStack
                  p We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.
                  a(href='#AlphaStack') Learn more about backend as a service &gt;
          
        #products-thumbnails.wrapper
          .thumbnail.heart
            h3 AlphaStack
            p a very brief tagline here
          .thumbnail.love
            h3 AlphaStack
            p a very brief tagline here
          .thumbnail.genes
            h3 AlphaStack
            p a very brief tagline here
          .thumbnail.model
            h3 AlphaStack
            p a very brief tagline here
          
      script(type='text/javascript', src='js/xenonstack.min.js')
